<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1><%= @current_debate.title %></h1>
    <p><%= @current_debate.description %></p>
    <h3>Winner: <%= @current_debate.winner %></h3>
    <p>
      <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
    </p>
  </div>
</div> <!-- /container -->


<ul class="list-group">
   <% @debates.each do |debate|%>
   <a href="<%= debates_show_path(debate)%>">
    <li class="list-group-item">
    <span class="badge"><%= debate.users.count %></span>
    <%= debate.title %>
    </li>
    <% end  %>
   </a>
</ul>