
<div class="container">

  <div class="jumbotron">
    <p>You have been paired with! </p><h1><%= @random_user.name %></h1>
    <p>About</p>
    <h2><%= @random_debate.title %></h2>
  </div>



<div class="row">
    <div class="col-md-12">
      <h1>Submit an opening argument</h1>
      <%= form_for(Comment.new, class: 'form-group') do |f| %>
        <%= f.text_field :authored_by, class:"form-control input-lg form-group", placeholder: "Name"  %>
        <%= f.text_area  :description, class:"form-control input-lg form-group", placeholder: "Description"  %>
        <%= f.hidden_field :debate_id, value: 1 %>
        <%= f.hidden_field :side, value: 1 %>
        <div class="form-group">
          <%= f.submit "Submit link", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>