

<div class="container">
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-magnet"></i> Control Panel</h3>
      </div>
      <div class="panel-body">
        <%= link_to "Change your password", edit_user_registration_path, class: 'btn btn-md btn-hover btn-primary' %>

        <%= link_to "Change your information", edit_user_path(@user), class: 'btn btn-md btn-hover btn-primary'%>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-magnet"></i> Profile</h3>
      </div>
      <div class="panel-body">
        <%= gravatar_for(@user) %>


        <h1>Name:</h1>
        <%= @user.name %>
        <h1>About</h1>
        <%= @user.about %>



      </div>
    </div>
  </div>
</div>

<style>
  .btn-hover {
    font-weight: normal;
    color: #333333;
    cursor: pointer;
    background-color: inherit;
    border-color: transparent;
  }

  .btn-hover-alt {
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
    background-color: inherit;
    border-color: transparent;
  }
</style>


