<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1><%= @debate.title %></h1>
    <p><%= @debate.description %></p>
    <h3>Winner: <%= @debate.winner %></h3>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <h1>Submit a comment</h1>
      <%= form_for(Comment.new, class: 'form-group') do |f| %>
        <%= f.text_field :authored_by, class:"form-control input-lg form-group", placeholder: "Name"  %>
        <%= f.text_area  :description, class:"form-control input-lg form-group", placeholder: "Description"  %>
        <%= f.hidden_field :debate_id, value: @debate.id %>
        <%= f.hidden_field :side, value: 1 %>
        <div class="form-group">
          <%= f.submit "Submit link", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
      <% @debate.comments.where(side: 1).each do |comment| %>
        <h2><%= comment.authored_by %></h2>
        <p> <%= comment.description %> </p>
      <% end %>
    </div>
    <div class="col-md-6">
      <h1>Submit a comment</h1>
      <%= form_for(Comment.new, class: 'form-group') do |f| %>
        <%= f.text_field :authored_by, class:"form-control input-lg form-group", placeholder: "Name"  %>
        <%= f.text_area  :description, class:"form-control input-lg form-group", placeholder: "Description"  %>
        <%= f.hidden_field :debate_id, value: @debate.id %>
        <%= f.hidden_field :side, value: 2 %>
        <div class="form-group">
          <%= f.submit "Submit link", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
      <% @debate.comments.where(side: 2).each do |comment| %>
        <h2><%= comment.authored_by %></h2>
        <p> <%= comment.description %> </p>
      <% end %>
    </div>
  </div>
</div>